sudo: true
service: docker
language: ruby
cache:
- bundler
before_install:
  - sudo iptables -L DOCKER || ( echo "DOCKER iptables chain missing" ; sudo iptables -N DOCKER )
  - gem install bundler -v 1.15
install:
- bundle install
rvm:
- 2.1
- 2.2
- 2.3.0
- 2.4.1
notifications:
  email:
    recipients:
    - sensu-plugin@sensu-plugins.io
    on_success: change
    on_failure: always
script:
  - gem build sensu-plugins-logs.gemspec
  - gem install sensu-plugins-logs-*.gem
  - bundle exec rake quick
  - bundle exec rake kitchen:ruby-`echo $TRAVIS_RUBY_VERSION | sed -e "s/\.//g"`-debian-8
deploy:
  provider: rubygems
  api_key:
    secure: aXcvXQGeBoeTI5KsjzmF1YjoSD1JkbVi0dQOqHI4FnPZka0WdFwMIsvbVg8bFMQ8A7N/ad/zuyj3wsDD/MAN8DTsPNeS9OYwpEl2ODRuzVUa3gwJfc2GDo1x5QTBCFKHfjyddV8GvOPg1dEKZ2l5HKgNGVsEfVEU3FbBIkEW6c4=
  gem: sensu-plugins-logs
  on:
    tags: true
    all_branches: true
    rvm: 2.1
    rvm: 2.2
    rvm: 2.3.0
    rvm: 2.4.1
    repo: sensu-plugins/sensu-plugins-logs
